<div fxLayout="row" fxLayoutAlign="center" class="spinner" *ngIf="!movies; else show">
    <mat-spinner></mat-spinner>
</div>

<ng-template #show>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <div fxFlex="20" fxFlex.sm="30" *ngFor="let movie of movies">
            <movie-card [movie]=movie></movie-card>
        </div>
    </div>

    <button class="float" mat-fab color="primary" [routerLink]="['/movies/new']">
        <mat-icon>add</mat-icon>
    </button>

</ng-template>