<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav>
        <mat-toolbar>
            <span i18n="Menu textd@@menu.text">Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="" mat-list-item (click)="sidenav.toggle();">
                <mat-icon mat-list-icon>movie</mat-icon>
                <span i18n="Movies text@@movies.text">Movies</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>